/* You can add global styles to this file, and also import other style files */
/* Para pantallas pequeñas, como móviles */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }
}

/* Para pantallas medianas, como tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
